#main-container{
    height: 700px;
    width: 900px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.header {
    height: 15%;
    width: 80%;
    align-self: center;
    display:flex;
    margin: 20px;
    background-color: teal;
}

.mid-container {
    height: 60%;
    width: 80%;
    display: flex;
    align-self:center;
    background-color: green;
}

.aside {
    height: 85%;
    width: 25%;
    display:flex;
    align-self: left;
    align-self: center;
    margin-left: 5%;
    background-color: rgb(142, 245, 160);
}

.article {
    height: 85%;
    width: 60%;
    display: flex;
    align-self: right;
    align-self: center;
    margin:5%;
    background-color: orange;
    align-items: flex-end;
}

.image {
    height: 30%;
    width: 30%;
    display: flex;
    margin: 5%;
    background-color: rgb(243, 228, 91);
    
}

.footer {
    height: 15%;
    width: 80%;
    align-self: center;
    display:flex;
    margin: 20px;
    background-color: teal;
}